// accent bar/gradient on top of each page
.accent-bar {
    height: 10px;
    width: 100%;
    background-color: darkslategray;

    h3 {
        font-family: 'Jim Nightshade';
        font-weight: 100;
        color: white;
    }
}
