// content page styling
content {
    display: block;
    padding: 30px;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

tei-title {
  display: inline-block;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

tei-head {
  display: inline-block;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}