// Styles for the table of contents aside

// Flex container for the TOC + content
div.toc-content-container {
    display: flex;
    scroll-behavior: smooth;
}

div.toc-bg {
    display: none;
    @include for-tablet-up {
        display: block;
    }
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: -1;
    height: 100%;
    background-color: darkslategray;
}
aside.toc {
    box-sizing: border-box;
    z-index: 1;
    position: sticky;
    top: 88px;
    display: none;
    height: calc(100vh - 90px);
    width: 300px;
    min-width: 300px;
    padding: 20px;
    overflow: auto;
    @include for-tablet-up {
        display: block;
    }
    @include for-desktop-up {
        height: calc(100vh - 147px);
        top: 125px;
    }
    ul {
        list-style: none;
        font-family: 'Jim Nightshade';
        font-weight: 100;
        font-size:32px;
        color: white;
        margin: 20px 0px 0px 20px;
        padding: 0;
        li {
            margin-bottom: 20px;
            a {
                color: white;
                font-weight: 100;
                text-decoration: none;
                &:hover {
                    color: darkgray;
                    cursor: pointer;
                }
            }
            ul {
                margin-top: 30px;
                margin-left: 20px;
                font-size: 1rem;
            }
        }
    }
}
aside.toc + content {
    @include for-tablet-up {
        width: calc(100% - 300px);
    }
}